<h2>My Skills Tree</h2>
<section class="tech">
    <div class = "item">
        <div class = "describe">
            ANDROID
        </div>
        <div class="progress">
            <span class="yellow" style="width: 70%;"></span>
        </div>
    </div>
    <!--
    <div class = "item">
        <div class = "describe">
            C/C++
        </div>
        <div class="progress">
            <span class="green" style="width: 20%;"></span>
        </div>
    </div>
    -->
    <div class = "item">
        <div class = "describe">
            JAVA
        </div>
        <div class="progress">
            <span class="blue" style="width: 60%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            GIT
        </div>
        <div class="progress">
            <span class="red" style="width: 100%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            LINUX
        </div>
        <div class="progress">
            <span class = "darkblue" style="width: 16%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            PYTHON
        </div>
        <div class="progress">
            <span class="grey" style="width: 32%;"></span>
        </div>
    </div>
</section>
